<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <title> My first AI Chatbot </title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <section>
            <button><i class="fa fa-microphone"></i></button>

            <!--
            <div>
                <p>You: <em class="output-you">...</em></p>
                <p>Bot: <em class="output-bot">...</em></p>
            </div>
            -->

        </section>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>